In [20]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime
from datetime import date,timedelta

In [5]:
apple = pd.read_csv('apple.csv', index_col='Date', parse_dates=True)
msft = pd.read_csv('msft.csv', index_col='Date', parse_dates=True)

In [6]:
apple.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-12-31  26.752501  26.757500  26.205000  26.315001  24.266081  163649200
2016-01-04  25.652500  26.342501  25.500000  26.337500  24.286833  270597600
2016-01-05  26.437500  26.462500  25.602501  25.677500  23.678219  223164000
2016-01-06  25.139999  25.592501  24.967501  25.174999  23.214844  273829600
2016-01-07  24.670000  25.032499  24.107500  24.112499  22.235069  324377600

In [22]:
apple['Daily Returns'] = apple['Adj Close'].pct_change(1)
msft ['Daily Returns'] = msft['Adj Close'].pct_change(1)

/var/folders/yk/fs7s5htj44b8ds6qh_c6gb0m0000gn/T/ipykernel_42680/2472575772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  msft ['Daily Returns'] = msft['Adj Close'].pct_change(1)

In [23]:
apple = apple.dropna()
msft = msft.dropna()

In [24]:
def compute_sortino_ratio (data, threshold = 0, risk_free_rate = 0):
    mean_data = data['Daily Returns'].mean()
    #Always lower values than treshold
    downside = data[data['Daily Returns']<threshold]['Daily Returns']
    std = downside.std()
    sortino_ratio = (mean_data - risk_free_rate)/std

    return sortino_ratio * (252**0.5)

In [25]:
sortino_apple = compute_sortino_ratio(apple)
sortino_apple

1.614046647301598

In [26]:
sortino_msft = compute_sortino_ratio(msft)
sortino_msft

1.70542369891232

Sortino for Bitcoin

In [27]:
today = date.today()

d1 = today.strftime('%Y-%m-%d')
end_date = d1
d2 = date.today() - timedelta(days=730)
d2 = d2.strftime('%Y-%m-%d')
start_date = d2

In [28]:
bitcoin = yf.download('BTC-USD', start = start_date, end = end_date, progress=False)
bitcoin['Date'] = bitcoin.index
data = bitcoin[["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]]
data.reset_index(drop=True, inplace=True)
bitcoin.head()

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2022-03-12,38794.464844,39308.597656,38772.535156,38904.011719,38904.011719,14616450657,2022-03-12
2022-03-13,38884.726562,39209.351562,37728.144531,37849.664062,37849.664062,17300745310,2022-03-13
2022-03-14,37846.316406,39742.500000,37680.734375,39666.753906,39666.753906,24322159070,2022-03-14
2022-03-15,39664.250000,39794.628906,38310.210938,39338.785156,39338.785156,23934000868,2022-03-15
2022-03-16,39335.570312,41465.453125,39022.347656,41143.929688,41143.929688,39616916192,2022-03-16

In [30]:
bitcoin ['Daily Returns'] = bitcoin['Adj Close'].pct_change(1)
bitcoin

,Open,High,Low,Close,Adj Close,Volume,Date,Daily Returns
Date,,,,,,,,
2022-03-12,38794.464844,39308.597656,38772.535156,38904.011719,38904.011719,14616450657,2022-03-12,NaN
2022-03-13,38884.726562,39209.351562,37728.144531,37849.664062,37849.664062,17300745310,2022-03-13,-0.027101
2022-03-14,37846.316406,39742.500000,37680.734375,39666.753906,39666.753906,24322159070,2022-03-14,0.048008
2022-03-15,39664.250000,39794.628906,38310.210938,39338.785156,39338.785156,23934000868,2022-03-15,-0.008268
2022-03-16,39335.570312,41465.453125,39022.347656,41143.929688,41143.929688,39616916192,2022-03-16,0.045887
...,...,...,...,...,...,...,...,...
2024-03-06,63776.050781,67637.929688,62848.671875,66106.804688,66106.804688,68750229073,2024-03-06,0.036137
2024-03-07,66099.742188,68029.921875,65655.531250,66925.484375,66925.484375,46989543159,2024-03-07,0.012384
2024-03-08,66938.093750,70083.054688,66230.453125,68300.093750,68300.093750,59202881172,2024-03-08,0.020539
2024-03-09,68299.257812,68673.054688,68053.125000,68498.882812,68498.882812,21609650379,2024-03-09,0.002911
2024-03-10,68500.257812,70005.203125,68239.976562,69019.789062,69019.789062,35683977532,2024-03-10,0.007605

In [31]:
bitcoin = bitcoin.dropna()

In [32]:
sortino_bitcoin = compute_sortino_ratio(bitcoin)
sortino_bitcoin

0.8898156786595508